{% extends "base.html" %}
{% block page_content %}
<section class="content">
    <!-- Control Sidebar Toggle Button -->
    <div class="row" id="users">

        <section class="col-sm-7 connectedSortable"> 
          <!-- section users -->
          
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
              <li class="pull-left header"><i class="fa fa-inbox"></i>Users</li>
            </ul>
            <div class="tab-content no-padding">
              <!-- Morris chart - Sales -->
              <table class="table">
              <tr>
                <th>UserName</th>
                <th>Email</th>
                <th>UserLevel</th>
              </tr>
              {% for i in users: %}
                {% if i.level == 1 or i.level == 2 %}
                <tr>
                  <td>{{ i.username}}</td>
                  <td>{{ i.email}}</td>
                  <td>admin</td>
                </tr>
                {% else: %}
                <tr>
                  <td>{{ i.username}}</td>
                  <td>{{ i.email}}</td>
                  <td>user</td>
                </tr>
                {% endif %}
              {% endfor %}
            
          </table>
            </div>
          </div>
        </section><!-- section users -->
        
      </div>
    
      <div class="row" id="assets">
        <section class="col-sm-7 connectedSortable"><!-- section assets -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
              <li class="pull-left header"><i class="fa fa-inbox"></i>Assets</li>
            </ul>
            <div class="tab-content no-padding">
              <table class="table">
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Availability</th>

              </tr>
              {% for i in assets: %}
                {% if i.available == True %}
                <tr>
                  <td>{{ i.assetname}}</td>
                  <td>{{ i.assetdescription}}</td>
                  <td>available</td>
                </tr>
                {% else: %}
                <tr>
                  <td>{{ i.assetname}}</td>
                  <td>{{ i.assetdescription}}</td>
                  <td>not available</td>
                </tr>
                {% endif %}
              {% endfor %}
            
          </table>
            </div>
          </div>
    </section><!-- section Assets -->
    <section class="col-sm-5 connectedSortable">
          <!-- Calendar -->
          <div class="box box-solid bg-green-gradient">
            <div class="box-header">
            <h3 class="box-title">Add an asset</h3>
            <form class="form-horizontal" role="form" action='/asset' method='POST' enctype="multipart/form-data">
            <div class="form-group">
              <label class="control-label col-sm-2" for="assetName">Asset Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="assetName" name="assetName"placeholder="Enter name of asset"></br>
              </div>
              <label class="control-label col-sm-2" for="description">Description</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="description" name="description" placeholder="Enter a description of the asset"></br>
              </div>
              <label class="control-label col-sm-2" for="serialno">Serial Number</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="serialno" name="serialno"placeholder="Enter the serial number"></br>
              </div>
              <label class="control-label col-sm-2" for="serialcode">Andela Serial Code</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="serialcode" name="serialcode"placeholder="Enter Andela's serial code"></br>
              </div>
              </div>
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default" name='addAsset'>add Asset</button>
            </div>

          </form>
        </div>
      </div>
  </section>
    </div>
    <div class="row" id="assigned">
        <section class="col-sm-7 connectedSortable"><!-- section assigned -->
          <div class="nav-tabs-custom">
            
            <ul class="nav nav-tabs pull-right">
              <li class="pull-left header"><i class="fa fa-inbox"></i>Assigned</li>
            </ul>
            <div class="tab-content no-padding">
              
              <table class="table">
              <tr>
                <th>UserName</th>
                <th>Asset Name</th>
                <th>Reclaim on</th>
                <th></th>

              </tr>
              {% for z in assigned: %}
                {% for x in users: %}
                  {% if z.user_id == x.id: %}
                <tr>
                  <td>{{ x.username}}</td>
                  {% endif %}
                {% endfor %}
                {% for y in assets: %}
                  {% if y.id == z.assetid: %}
                  <td>{{ y.assetname}}</td>
                  {% endif %}
                {% endfor %}
                  <td>{{z.reclaim_date}}</td>
                  <td>
                    <form action = "/reclaim" method = "post">
                      <button name='reclaim' value={{z.id}}>reclaim asset</button>
                    </form>
                  </td>
                </tr>
              {% endfor %}
              
            
          </table>
            </div>
          </div>
    </section><!-- section assigned -->
    <!-- /.content -->
    
  <section class="col-sm-5 connectedSortable">
    <div class="box box-solid bg-green-gradient">
      <div class="box-header">
      <h3 class="box-title">Assign an asset</h3>
      <form class="form-horizontal" role="form" action='/assigned' method='POST' enctype="multipart/form-data">
        <div class="form-group">
          <label class="control-label col-sm-2" for="userid">User Name</label>
          <div class="col-sm-8">
            <select name='userid' class='form-control' data-style='btn-primary'>
              {%for x in users: %}
                <option value={{x.id}} >{{x.username}}</option> 
              {% endfor %}  
            </select>
          </div></br>
          <label class="control-label col-sm-2" for="assetid">Asset</label>
          <div class="col-sm-8">
            <select name='assetid' class='form-control' data-style='btn-primary'>
              {%for i in assets: %}
                {% if i.available: %}
                  <option value={{i.id}}>{{i.assetname}}</option> 
                {% endif %}
              {% endfor %}
            </select>
           </div></br>
            <label class="control-label col-sm-2" for="reclaim">Reclaim Date</label>
              <div class="col-sm-8">
                <input type="date" class="form-control" id="reclaim" name="reclaim">
              </div>

            </div>
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" name='assign'>assign</button>
          </div>
        </form>
      </div>
    </div>
    </section>
  </section>
 </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.0.1
    </div>
  </footer>
</div>

{% endblock %}